* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 8px;
    color: aqua;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;   
    line-height:2;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

.wrapper {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.accordion_item {
    border-top:0.1rem solid grey;
    cursor: pointer;
    padding: 1rem 0 1rem 0;        
}



.accordion_title {
    min-width: 33rem;    
    font-size: 3rem;        
    cursor: pointer;
    display: block;    
    transition: 0.5s;       
}

.title {
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: row;
}

.accordion_item .triangle {   
    width: 3rem; 
}



.accordion_input:checked ~ .accordion_title .triangle {    
    transform: rotate(180deg)
}

.accordion_input:checked ~ .accordion_title .accordion_content {    
    display: flex;
    align-items:center;
    justify-content:center;    
    visibility: visible;
    width: 33rem;
    height: 17rem;
    transition: all 0.5s ease 0s;         
}

.accordion_body {    
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;    
}


.accordion_input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    display: none;    
}

.accordion_content {    
    margin: 0 auto;    
    overflow: hidden;
    width: 0;
    height: 0;
    transition: all 0.5s ease 0s;
    transition-delay: 0.2s;         
}

.accordion_content img {    
    min-width: 30rem;  
}

@media screen and (min-width: 820px){
    :root {
        font-size: 10px;
    }   
}


@media screen and (min-width: 1920px){
    :root {
        font-size: 12px;
    }
    
    .accordion_title {
        min-width: 50rem;              
    }
    
    .accordion_item .triangle {
        visibility: hidden;
        width: 3rem; 
    }

    .accordion:hover .accordion_item .triangle {
        visibility: visible;    
    }
    
    .accordion_input:hover ~ .accordion_title .triangle {    
        transform: rotate(180deg)  
    }
    
    .accordion_input:hover ~ .accordion_title .accordion_content {    
        display: flex;
        align-items:center;
        justify-content:center;         
        visibility: visible;
        width: 33rem;
        height: 17rem;
        transition: 1s;
        transition: all 0.5s ease 0s;              
    }    
}
